.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 15px;
  padding-bottom: 15px;
  margin-bottom: 4em;
  /*background-color: #1273eb;
     color: #fff;*/
  max-width: 1200px;
  margin: 0 auto;
  min-height: 90px;
  width: 100%;
}
.menuContainer {
  display: flex;
}
.menuLink {
  padding: 5px;
  position: relative;
  cursor: pointer;
}
.menuLink:hover,
.dropdownMenu:hover {
  text-decoration: underline;
}
.mr {
  margin-right: 16px;
}
.mb {
  margin-bottom: 16px;
}
.dropdownMenu {
  display: block;
  padding: 5px;
}
.dropdown {
  position: absolute;
  min-width: 160px;
  display: none;
  z-index: 10;
}
.dropdownCont {
  padding: 16px;
  margin-top: 8px;
  background-color: var(--background-color);
  box-shadow: var(--shadow);
}

.drop:hover .dropdown {
  display: block;
}
