/* ==========================================================================
   Base styles
   ========================================================================== */

.reverse {
  flex-direction: row-reverse;
}
.containerColumn {
  flex-direction: column;
}
.column {
  flex-grow: 0;
  max-width: 50%;
  flex-basis: 50%;
}
.colCenter {
  display: flex;
  align-items: center;
  justify-content: center;
}
.section {
  padding-top: 4em;
  padding-bottom: 4em;
  width: 100%;
}
.section.bg {
  background-color: var(--secondary-background-color);
}
.left {
  text-align: left;
  align-items: flex-start;
}
.right {
  text-align: right;
  align-items: flex-start;
}
.title {
  font-size: 2.5em;
  line-height: 1.4em;
  font-weight: 400;
  margin: 1em auto;
  color: var(--text-primary-color);
}
.subtitle {
  font-size: 1.25em;
  margin: 1em auto;
  color: var(--text-secondary-color);
}
.topbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 15px;
  padding-bottom: 15px;
  margin-bottom: 4em;
  /*background-color: #1273eb;
       color: #fff;*/
}
.slider {
  padding-left: 60px;
  padding-right: 60px;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 4em;
}
.infoBox {
  display: flex;
}
.marginRight {
  margin-right: 30px;
}
.box {
  padding: 15px;
}
.main image {
  max-width: 100%;
}
.container {
  max-width: 1000px;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  justify-content: center;
  text-align: center;
}

@media (max-width: 900px) {
  .container {
    max-width: 750px;
  }
}

@media (max-width: 768px) {
  .container {
    max-width: 100%;
  }
  .container {
    flex-direction: column;
  }
  .container.reverse {
    flex-direction: column;
  }
  .column {
    flex-grow: 0;
    max-width: 100%;
    flex-basis: 100%;
  }
  .topbar {
    padding: 10px;
  }
  .left,
  .right {
    text-align: center;
  }
  .title {
    font-size: 1.75em;
  }
  .subtitle {
    font-size: 1em;
  }
}
.slideInLeft {
  animation-name: slideInRight;
  animation-duration: 0.3s;
}
.slideInRight {
  animation-name: slideInLeft;
  animation-duration: 0.3s;
}
@-webkit-keyframes slideInRight {
  0% {
    opacity: 0;
    -webkit-transform: translateX(1000px);
    transform: translateX(1000px);
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
@keyframes slideInRight {
  0% {
    opacity: 0;
    -webkit-transform: translateX(1000px);
    -ms-transform: translateX(1000px);
    transform: translateX(1000px);
  }
  100% {
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
  }
}
@-webkit-keyframes slideInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-1000px);
    transform: translateX(-1000px);
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
@keyframes slideInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-1000px);
    -ms-transform: translateX(-1000px);
    transform: translateX(-1000px);
  }
  100% {
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
  }
}
@-webkit-keyframes slideInDown {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-1000px);
    transform: translateY(-1000px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
@keyframes slideInDown {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-1000px);
    -ms-transform: translateY(-1000px);
    transform: translateY(-1000px);
  }
  100% {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
}
